In [2]:
#
# Neural network - dataset: Black-Friday
# autor: Irving Lucas (irving.lucas@gmail.com)
# OBS:
# coloque o dataset no diretório raiz desse código e modifique o nome do arquivo xlsx na linha 9
# manter apenas os imports necessários para essa parte do código
#

import os
import time as t
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split

In [3]:
diretorio_dataset = os.getcwd()
diretorio_dataset +=r"\black-friday.xlsx"
print("Diretorio do data-set: " + diretorio_dataset)
inicio = t.time()
data_frame = pd.read_excel(diretorio_dataset)
fim = t.time()
tempo = fim-inicio
print("dataset carregado em: %.2f minutos" %(tempo/60))

Diretorio do data-set: C:\Users\irvin\Projetos\machine-learning\NEURAL NETWORK\black-friday.xlsx
dataset carregado em: 2.33 minutos

In [4]:
data_frame.head(3)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422

In [5]:
dataframe_treino = data_frame[['User_ID','Age','Gender','Occupation','City_Category','Marital_Status']]
dataframe_treino = dataframe_treino.drop_duplicates(subset='User_ID', keep='first')

In [6]:
dataframe_treino.head(5)

   User_ID    Age Gender  Occupation City_Category  Marital_Status
0  1000001   0-17      F          10             A               0
4  1000002    55+      M          16             C               0
5  1000003  26-35      M          15             A               0
6  1000004  46-50      M           7             B               1
9  1000005  26-35      M          20             A               1

In [7]:
#Discretização.
#
# Casualmente podem aparecer alguns warnings nessa célula quando reexecutada, mesmo usando a função .loc como eu havia usado no código da 
# na árvore de decisão. No outro código, o comando pode gerar(ou não) essa warning, mas apesar disso a operação executa e
# a árvore não reclama dos tipos de dados(ela converte pra float64).
#
le=preprocessing.LabelEncoder()
dataframe_treino['Age']=le.fit_transform(dataframe_treino['Age'])
dataframe_treino['Gender']=le.fit_transform(dataframe_treino['Gender'])
dataframe_treino['Occupation']=le.fit_transform(dataframe_treino['Occupation'])
dataframe_treino['City_Category']=le.fit_transform(dataframe_treino['City_Category'])

In [8]:
dataframe_treino.head()

   User_ID  Age  Gender  Occupation  City_Category  Marital_Status
0  1000001    0       0          10              0               0
4  1000002    6       1          16              2               0
5  1000003    2       1          15              0               0
6  1000004    4       1           7              1               1
9  1000005    2       1          20              0               1

In [41]:
dataframe_classes = dataframe_treino['Age']
dataframe_treino = dataframe_treino.drop(['User_ID','Age'], axis=1)

In [42]:
X_train, x_test, y_train, y_test = train_test_split(dataframe_treino, dataframe_classes, stratify=dataframe_classes, random_state=42)

In [43]:
mlp = MLPClassifier(activation='logistic')

inicio = t.time()
mlp.fit(X_train, y_train)
fim = t.time()
tempo = fim-inicio
print("treinamento finalizado em: %.2f minutos" %(tempo/60))

treinamento finalizado em: 0.11 minutos

C:\Users\irvin\Anaconda3\lib\site-packages\sklearn\neural_network\multilayer_perceptron.py:562: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

In [44]:
print("Acurácia da rede neural no treino sem escala: {:.3f}".format(mlp.score(X_train,y_train)))
print("Acurácia da rede neural na validação sem escala: {:.3f}".format(mlp.score(x_test,y_test)))

Acurácia da rede neural no treino sem escala: 0.386
Acurácia da rede neural na validação sem escala: 0.379